.restaurantPage{
  width: 100%;
  height: 100%;
  padding: .4rem;
}

.restaurantPage__description--text{
  display: flex;
  gap: 1rem;
}
.restaurantPage__description--btn{
  background-color: rgba(218, 222, 222, 0.381);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.restaurantPage__description--logo{
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurantPage__description--stars{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: .8rem;
}
.restaurantPage__description--time{
  background-color: rgb(221, 240, 251);
  width: fit-content;
  padding: 3px 6px;
  border-radius: 5px;
}
.restaurantPage__menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3rem 0;
  width: 100%;
  height: 100%;
  gap: 1rem 0;
}
.restaurantPage__menu--container{
  width: 9.5rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 2px #c4c2c2;
  gap: .5rem;
}
.restaurantPage__menu--img{
  border-radius: 10px;
  width: 100%;
}
.restaurantPage__menu--container div{
  padding: .3rem .4rem;
}