.imgSingin{
    margin-top: 4rem;
    margin-left: 11rem;
    margin-bottom: 1rem;
}
.title_singin{
    font-size: 23px;
    font-weight: bold;
    margin-left: 11rem;
    margin-bottom: 1rem;
}
.txt_singin{
    display: flex;
    margin-left: 5rem;
    text-align: center;
    color: rgb(154, 154, 154);
    margin-top: 2rem;
    font-size: 18px;
}
.imgTel{
    height: 20px;
}

.txt_number{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 5rem;
    gap: 5px;
}
.input_number{
    height: 25px;
}